.title{

}
.hunt{
  display: flex;
  flex-direction: column;
  font-size: 1.2rem;
}

.list-item{
  font-size: 1.5rem;
  cursor: pointer;    
}
.list-item{
    color: #1a1a1a;
    transform: scale(1.1);
    text-decoration: none;
    list-style: none;
    
}