.tetris-app {
    display: grid;
    grid-template-areas:
      ". title ."
      ". game controls";
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1, 1fr);
    background-color: #406;
    /* height: 100vh; */
    padding: 20px;
  }
  
  .tetris-app > h1 {
    grid-area: title;
    height: fit-content;
    justify-content: center;
    text-align: center;
    color: #ccc;
    background: rgb(32, 0, 64);
    padding: 3px;
  }
  
  .controls > button {
    padding: 10px;
    border-radius: 3px;
    background: chocolate;
    color: azure;
    font-weight: 700;
    cursor: pointer;
  }
  
  .board {
    border: 10px solid rgb(32, 0, 64);
    display: grid;
    grid-gap: 2px;
    user-select: none;
    margin: 2em auto;
    grid-area: game;
    background: rgb(32, 0, 64);
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
  
  .controls {
    height: 330px;
    grid-area: controls;
    color: #ccc;
    justify-content: space-between;
    border-radius: 10px;
    border: 10px solid rgba(0, 0, 0, 0);
    margin: 35px 5px;
    background: rgba(32, 0, 64, 0.7);
  }
  
  .row {
    display: flex;
  }
  
  .upcoming {
    /* display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    gap: 10px; */
    display: grid;
    grid-gap: 2px;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(4, 1fr);
    width: 11vw;
    height: 11vw;
  }
  
  .cell {
    width: 25px;
    aspect-ratio: 1;
    border: 1px solid #333;
    border-radius: 3.5px;
    background-color: #ccc;
  }
    
  .cell.hidden {
    visibility: hidden;
  }
  
  .cell.Empty {
    background-color: rgb(32, 0, 64);
  }
  
  .cell.I {
    background-color: #00bcd4;
  }
  
  .cell.J {
    background-color: #2196f3;
  }
  
  .cell.L {
    background-color: #ff9800;
  }
  
  .cell.O {
    background-color: #ff5722;
  }
  
  .cell.S {
    background-color: rgb(48, 211, 56);
  }
  
  .cell.T {
    background-color: #9c27b0;
  }
  
  .cell.Z {
    background-color: #e91e63;
  }
