.tetris-app {
    display: grid;
    grid-template-areas:
      ". title ."
      ". game controls";
    grid-template-columns: repeat(3,1fr);
    background-image: url('https://cdn.pixabay.com/photo/2016/03/26/09/42/road-sign-1280257_960_720.jpg');
  }
  
  .tetris-app > h1 {
    text-align: center;
    grid-area: title;
    background: whitesmoke;
  }
  
  .controls > button {
    padding: 10px;
    border-radius: 3px;
    background: chocolate;
    color: azure;
    font-weight: 700;
    
  }
  
  .board {
    border: 20px double #333;
    user-select: none;
    margin: auto;
    grid-area: game;
  }
  
  .controls {
    grid-area: controls;
    background: whitesmoke;
  }
  
  .row {
    display: flex;
  }
  
  .upcoming {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    gap: 10px;
  }
  
  .cell {
    width: 25px;
    aspect-ratio: 1;
    border: 1px solid #333;
    border-radius: 0;
     
  }
    
  .cell.hidden {
    visibility: hidden;
  }
  
  .cell.Empty {
    background-color: rgb(200, 200, 200);
  }
  
  .cell.I {
    background-color: rgb(80, 227, 230);
  }
  
  .cell.J {
    background-color: rgb(36, 95, 223);
  }
  
  .cell.L {
    background-color: rgb(223, 173, 36);
  }
  
  .cell.O {
    background-color: rgb(223, 217, 36);
  }
  
  .cell.S {
    background-color: rgb(48, 211, 56);
  }
  
  .cell.T {
    background-color: rgb(132, 61, 198);
  }
  
  .cell.Z {
    background-color: rgb(227, 78, 78);
  }
