.container-home{ 
    width: auto;
    height: 100vh;
    display: flex;
    justify-content: space-around;
}
 .link-container{
    font-size: 1.3rem;
    
}
.link{
    text-decoration: none;
    padding: 15px;
}
