.container-home{ 
    width: auto;
    height: 100vh;
    background: #5edf3422;
    display: flex;
    justify-content: space-around;
    
}
 
 .link-container{
    font-size: 1.3rem;
    
}
.link{
    text-decoration: none;
    padding: 15px;
}
