@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

:root{
    --mainColor: #fff;
    --mainLightColor: rgba(235,235,235,0.5);
    --mainDimColor: rgb(228,228,228);
}

body{
    margin: 0;
    padding: 0;
    overflow: hidden;
    box-sizing: border-box;
}

.container{
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--mainColor);
    font-family: 'Poppins';   
}

.background1{
    background: rgb(11,94,215);
    background: linear-gradient(201deg, rgba(11,94,215,0.20630258939513302) 0%, rgba(11,94,215,0.4920168751094187) 22%, rgba(11,94,215,0.7497199563419117) 88%); 
}
.background2{
    background: rgb(215,11,57);
    background: linear-gradient(201deg, rgba(215,11,57,0.20630258939513302) 0%, rgba(215,11,91,0.4920168751094187) 34%, rgba(215,11,196,0.7497199563419117) 93%); 
}
.background3{
    background: rgb(215,11,174);
    background: linear-gradient(201deg, rgba(215,11,174,0.20630258939513302) 0%, rgba(11,43,215,0.4920168751094187) 66%, rgba(102,11,215,0.7497199563419117) 93%); 
}
.background4{
    background: rgb(11,215,26);
    background: linear-gradient(201deg, rgba(11,215,26,0.20630258939513302) 0%, rgba(11,215,109,0.4920168751094187) 52%, rgba(127,215,11,0.7497199563419117) 98%); 
}
.background5{
    background: rgb(215,11,27);
    background: linear-gradient(201deg, rgba(215,11,27,0.20630258939513302) 0%, rgba(215,40,11,0.4920168751094187) 52%, rgba(215,145,11,0.7497199563419117) 98%); 
}
.background6{
    background: rgb(191,215,11);
    background: linear-gradient(201deg, rgba(191,215,11,0.20630258939513302) 0%, rgba(215,209,11,0.4920168751094187) 46%, rgba(215,145,11,0.7497199563419117) 93%); 
}
.background7{
    background: rgb(215,11,174);
    background: linear-gradient(201deg, rgba(215,11,174,0.20630258939513302) 0%, rgba(178,11,215,0.4920168751094187) 66%, rgba(102,11,215,0.7497199563419117) 93%); 
}
.blackScreen{
    width: 100vw;
    height: 100vh;
    position: absolute;
    pointer-events: none;
    background-color: rgba(17,17,17,0.2);
}

.music-Container{
    width: 340px;
    padding: 30px 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: #ffa50070;
    border: 1px solid #fff;
    border-radius: 36px;
    box-shadow: 0 0 20px rgba(260,260,126,0.1),
    0 0 20px rgba(260,136,106,0.1),
    0 0 30px rgba(260,136,106,1.1);
    backdrop-filter: blur(15px);
    font-weight: 600;
}

.musicPlayer{
    margin: 0;
    margin-bottom: 10px;
    color: var(--mainLightColor);
    font-size: 1.9rem;
}

.music-Head-Name{
    margin: 0 auto;
    font-size: 1.5rem;
    text-align: center;
}

.music-Artist-Name{
    color: var(--mainDimColor);
    margin: 4px 0;
    font-size: 1.2rem;
    font-weight: 400;
}

#songAvatar{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: 18px 0;
    position: relative;
    cursor: pointer;
    animation: animateAvatar .5s linear infinite;
}

@keyframes animateAvatar {
    0%,100%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.03);
    }
}

.musicTimerDiv{
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-weight: 600;
    
}

.musicProgressBar{
    width: 100%;
    margin-bottom: 19px;
    height: 10px;
    border-radius: 5px;
    outline: none;
    filter: hue-rotate(20deg);
}

.playBtn{
    font-size: 32px;
    margin: 8px 10px;
    color: var(--mainColor);
    cursor: pointer;
    font-weight: 400;
}

.musicController{
    cursor: pointer;
    font-size: 28px;
    color: var(--mainColor);
}

.changeBackBtn{
    width: 30px;
    height: 28px;
    position: absolute;
    border-radius: 50%;
    top: 160px;
    left: 60%;
    transform: translateX(20%);
    transition: .3s;
    cursor: pointer;
    padding: 3px 0 0 0;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(121,9,12,0.7525210767900911) 35%, rgba(0,212,255,1) 100%); 
}

.changeBackBtn:hover{
    height: 30px;
    color: chocolate;
    transform: scale(1.1);
}

.objectFitCover{
    object-fit: cover;
}

.objectFitContain{
    object-fit: contain;
}
.headphone{
    width: 30px;
    padding: 15px;
    animation: animateAvatar .5s linear infinite;   
}
@media only screen and (max-width: 990px) {
 .music-Container{
    width: fit-content;
    padding: 0 45px 40px 45px;
    margin-top: -150px;
 }
 .headphone{
    width: 20px;
 }
   
 .musicPlayer{
    font-size: 22px;
 }
 .music-Head-Name{
    font-size: 18px;
 }
 .music-Artist-Name{
    font-size: 18px;
 }
 .musicProgressBar{}
 .musicController{}
 #song-avatar{
    width: 20px;
 }
}