.analog-clock {
    width: 200px;
    height: 200px;
    border: 5px solid #333;
    border-radius: 50%;
    position: absolute;
    margin: -18% 70%;
    background: linear-gradient(white, lightgrey);
    box-shadow: 0 0 0 6px rgba(0, 0, 0, 0.1), inset 0 0 0 3px #fff,
      inset 0 0 10px black, 0 0 10px rgba(0, 0, 0, 0.2);
    
    &::before {
      content: '';
      position: absolute;
      width: 13px;
      height: 14px;
      background-color: #fff;
      border-radius: 50%;
      top: 50%;
      left: 50%;
      z-index: 1;
      transform: translate(-50%, -50%);
      background: linear-gradient(left, #f3f3f3, #fff);
      box-shadow: -2px 3px 3px rgba(0,0,0,0.2), inset 1px 0 6px rgba(0,0,0,0.2);
    }
      
  }
  /* Numbers in clock */
  .numbers, .clock-face {
    width:100%;
    height:100%;
    border-radius:50%;
  }
  
  .numbers ul {
    list-style:none;
  }
  
  .numbers ul li {
    position:absolute;
    width:1.5em;
    height:1.5em;
    text-align:center;
    line-height:1.5em;
    font-size:1.3em;
    color:#a5a580;
  }
  
  .numbers ul li:first-child {
    top:0;
    left:50%;
    margin-left:-0.75em;
  }
  .numbers ul li:nth-child(2){
    top:50%;
    right:0;
    margin-top:-0.75em;
  }
  .numbers ul li:nth-child(3){
    left:50%;
    bottom:0;
    margin-left:-0.75em;
  }
  .numbers ul li:last-child{
    top:50%;
    left:0;
    margin-top:-0.75em;
  }

  .list {
    width: calc(100% - 10px);
    display: flex;
    flex-direction: row;
    flex: content;
    justify-content: space-evenly;
    border-top: 3px solid #ff5722;
    flex-wrap: wrap;
  }
  .list > div h1{
    border: 1px solid black;
    font-size: 0.8rem;
    padding: 15px;
    border-radius: 10px;
    cursor: pointer;
  }
  .span{
    display: flex;
    flex-direction: column;
    font-size: 2rem;
    font-weight: 600;
    color: #ff572288;
    padding: 2px;
  }
  .date {
    font-style: italic;
  }  
  .clock-face {
    position: absolute;
    width: 100%;
    height: 100%;
  }
  
  .clock-hand {
    position: absolute;
    bottom: 50%;
    left: 50%;
    transform-origin: 50% 100%;
    background-color: #fff;
    transform: translateX(-50%);
  }
  
  .hour-hand {
    height: 27.5%;
    width: 4px;
    background: #68645b;
  }
  
  .minute-hand {
    height: 80px;
    width: 4px;
    background: #68645b;
    
  }
  
  .second-hand {
    height: 80px;
    width: 2px;
    background-color: #f16e54;
    transform-origin: 50% 100%;
  }
  .digital-clock {
    margin-top: 20px;
    padding: 10px;
    justify-content: center;
    margin-left: 10%;
    /*modern style for clock digital*/
    font-family: 'Oswald', 'Orbitron', sans-serif;
    font-size: 2.8rem;
    font-weight: 700;
    color: #fff;
    text-shadow: 0 0 10px #ff5722, 0 0 20px #ff5722, 0 0 30px #ff5722,
      0 0 40px #ff5722, 0 0 50px #ff572250, 0 0 60px #ff5722, 0 0 70px #ff572250,
      0 0 80px #ff572250;
      background: linear-gradient(left, #f3f3f3, #fff);
      box-shadow: -2px 3px 3px rgba(0,0,0,0.2), inset 1px 0 16px rgba(0,0,0,0.2);  
  }
  .utc{
    text-align: center;
    width: fit-content;
    margin: 5px auto;
    padding: 3px;
    font-size: 1.2rem;
    font-weight: 700;
    color: #fff;
    background: #333050;
  }
  .lang-list{
    display: grid;
    grid-template-columns: repeat(5, 2fr);
    margin: auto;
    font-size: 1.1rem;
    font-weight: 700;
    color: #fff;
    background: #333050;
  }  
